{% extends 'base.html.twig' %}

{% block title %}
	Détail du menu | Rapide & Gourmand
{% endblock %}

{% block body %}

	{{ include('components/menu_detail/_header.html.twig') }}

	<section class="menu-detail" data-menu-id="{{ menuId }}">

		<div class="container">

			<div class="row g-5">

				<div class="col-lg-8">

					{{ include('components/menu_detail/_gallery.html.twig') }}

					{{ include('components/menu_detail/_information.html.twig') }}

					{{ include('components/menu_detail/_composition.html.twig') }}

				</div>

				<div class="col-lg-4">

					{{ include('components/menu_detail/_order_panel.html.twig') }}

				</div>

			</div>

			{{ include('components/menu_detail/_warning.html.twig') }}

		</div>

	</section>

{% endblock %}
