{% extends 'base.html.twig' %}

{% block title %}
    Détail du menu | Rapide & Gourmand
{% endblock %}

{% block body %}

<section
    class="menu-detail"
    data-menu-id="{{ menuId }}"
>

    <div class="container-fluid px-5">

        {{ include('components/menu_detail/_header.html.twig') }}

        <div class="row g-4 align-items-start">

            {# Colonne principale #}
            <div class="col-lg-9">

                <div class="row g-4">

                    <div class="col-lg-6">

                        {{ include('components/menu_detail/_gallery.html.twig') }}

                    </div>

                    <div class="col-lg-6">

                        {{ include('components/menu_detail/_information.html.twig') }}

                    </div>

                </div>

                <div class="mt-4">

                    {{ include('components/menu_detail/_composition.html.twig') }}

                </div>

                <div class="mt-4">

                    {{ include('components/menu_detail/_warning.html.twig') }}

                </div>

            </div>

            {# Panneau de commande #}
            <div class="col-lg-3">

                {{ include('components/menu_detail/_order_panel.html.twig') }}

            </div>

        </div>

    </div>

</section>

{% endblock %}