<article class="menu-card">

	<div class="menu-card__image">

		{% if menu.pictures|length > 0 %}

			<img src="{{ asset(menu.pictures|first.path) }}" alt="{{ menu.pictures|first.alt ?? menu.title }}">

		{% else %}

			<img src="https://placehold.co/300x180" alt="{{ menu.title }}">

		{% endif %}

	</div>

	<div class="menu-card__content">

		<div class="menu-card__header">

			<h2>{{ menu.title }}</h2>

			<p>{{ menu.description }}</p>

		</div>

		<div class="menu-card__infos">

			<span class="menu-card__badge">
				👥 Min.
				{{ menu.minimumGuestNumber }}
				personnes
			</span>

			<span class="menu-card__badge">
				💶
				{{ menu.price|number_format(2, ',', ' ') }}
				€ / personne
			</span>

			<span class="menu-card__badge">
				📦 Stock :
				{{ menu.stock }}
			</span>

		</div>

	</div>

	<div class="menu-card__aside">

		{% if menu.theme|length > 0 %}

			<p>

				Thème :

				{% for theme in menu.theme %}
					{{ theme.title }}
					{% if not loop.last %},
					{% endif %}
				{% endfor %}

			</p>

		{% endif %}

		<a href="{{ path('menu_show', { id: menu.id }) }}" class="btn-primary-custom">
			Voir les détails
		</a>

</div></article>
